*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(4,17,27);;
}
.header h1{
    background-color: rgb(83, 6, 156);
    text-align: center;
    font-size: 30px;
    color: white;
    padding:0 4px;
}
.header p{
    background-color: darkgrey;
    font-size: 17px;
    text-align: center;
    border-top: 3px solid black;
    padding: 5px 0px;
}
.butt button,.Registration button,.inputnames button,.Expenses button,.backButton{
    background-color: darkorange;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
    margin:0 55px;
    border-radius:5px;
    
}
.backButton{
    background-color: red;
    margin-bottom: 10px;
    max-width:150px;
    margin:10px auto;
}

.group-list{
    background-color: rgb(245, 160, 3);
    margin:20px;
    box-shadow: -3px 3px 15px black;
    border-radius: 5px;
    
}
.group-list li{
    list-style: none;
    font-size: 25px;
    padding:15px;
    text-align: center;
    font-family: fantasy;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
     text-align:justify;
    
}
.butt{
    
    min-height: 300px;
    justify-content: space-around;
    flex-direction:column;
    display:flex;
    margin:80px auto;
    max-width:600px;


   
}
.total-fair{
    background-color: black;
    margin:20px;
    border-radius: 5px;
    box-shadow: -6px 6px 25px black;
    display: flex;
    flex-direction: row;
    padding:10px;
    font-size:25px;
    justify-content: space-between;
    color:white;
    font-family: fantasy;
}

#total-fair-price{
    color:green;

}
#date{
    padding-right:15px;
    color:rgb(9, 24, 236);
    
}

#fair{
    color:red;
    padding-left:15px;
    
}

.Registration,.inputnames,.inputnames,.Expenses,.Member,.group-names,.member-details{
    background-color: rgb(28, 0, 94);
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    position: relative;
    min-width: 300px;
    max-width: 600px;
    margin: 0px auto;
}
.input-content {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    overflow-y: scroll;

}
.Registration h1,.inputnames h1,.Expenses h1,.Member h1,.group-names h1,.member-details h1{
    color:white;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    font-weight: bolder;
    padding-top: 5px;
    text-decoration: underline;
}
.Registration input,.Registration button,.input-content input,.inputnames button,.Expenses input,.Expenses button{
   margin: 25px;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: -2px -2px 10px black;
    border-radius: 5px;
}
.Registration input,.input-content input,.Expenses input{
    padding:5px;
    font-size: 15px;

    
}
ul,.input-content{
    max-height:425px;
    overflow-y:scroll;
    
}
.input-content input{
    padding:10px;
    font-size: 20px;
}

.hide{
    display:none;
}