*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(4,17,27);;
}
.header h1{
    background-color: rgb(83, 6, 156);
    text-align: center;
    font-size: 30px;
    color: white;
    padding:0 4px;
}
.header p{
    background-color: darkgrey;
    font-size: 17px;
    text-align: center;
    border-top: 3px solid black;
    padding: 5px 0px;
}
.butt button,.Registration button,.inputnames button{
    background-color: darkorange;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
    margin:0 55px;
    
}
.butt{
    
    min-height: 300px;
    justify-content: space-around;
    flex-direction:column;
    display:flex;
    margin:80px auto;
    max-width:600px;


   
}


.Registration,.inputnames{
    background-color: rgb(28, 0, 94);
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin:0 20px;
    position: relative;
    top:-400px;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}
.inputnames{
    top:-800px;
}
.Registration h1,.inputnames h1{
    color:white;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    font-weight: bolder;
    padding-top: 5px;
    text-decoration: underline;
}
.Registration input,.Registration button,.inputnames input,.inputnames button{
   margin: 25px;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: -2px -2px 10px black;
}
.Registration input,.inputnames input{
    padding:5px;
    font-size: 15px;
}
